﻿@import 'http://nomail.com.ua/api/font-face/5117.css';
@font-face {
	font-family: 'Source Code Pro';
	src: url('/fonts/codepro.ttf') format('truetype'),
		url('/fonts/codepro.otf') format('otf'),
		url('/fonts/codepro.woff') format('woff'),
		url('/fonts/codepro.woff2') format('woff2'),
		url('/fonts/codepro.eot') format('eot');
}
body {
	font-size:14px;
	margin: 0px;
	padding: 0px;
	background-color: #000;
}
body * {
	font-family: 'Source Code Pro';
	letter-spacing: 2px;
	color: #fff;
}
#logo {
	background: url('/img/logo.png') no-repeat 50% 50%;
	background-size: contain;
	position: absolute;
	right: 1vw;
	top: 7.5vh;
	width: 200px;
	height: 24px;
}
.right {
	background-size: cover;
}
nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
nav li {
	display: inline-block;
	width: 33%;
	text-align: center;
}
nav li:nth-child(n+2) {
	margin-left: -0.5em;
}
nav {
	margin-left: 0.25em;
}
nav a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.8vw;
	font-size: 2.1vh;
	padding-left: 0.4vw;
}
.left,
.right {
	width: 50%;
	height: 100vh;
}
.left {
	float: left;
}
.right {
	float: right;
}
#products,
#about,
#contacts {
	font-size: 2.5vh;
}
#products,
#about,
#contacts {
	position: absolute;
	width: 50vw;
	height: 90.307692308vh;
	display: none;
}
#products,
#about {
	padding-left: 5.714285714vw;
	padding-right: 5.714285714vw;
	width: 38.571428572vw;
}
#products * ,
#about * {
	font-family: 'FuturaLightC';
}
#products .vertical-aligned,
#about .vertical-aligned {
	height: 90.307692308vh;
}
.vertical-aligned {
	display: table-cell;
	vertical-align: middle;
}
.bottom {
	padding-top: 2vh;
	position: absolute;
	top: 90.307692308vh;
	width: 50vw;
	height: 7.692307692vh;
}
#selected {
	z-index: 101;
	position: absolute;
	top: 0px;
	height: 0.5vh;
	width: 5vw;
	background-color: #FF7F00;
	right: 100vw;
	display: none;
}
.delimiter {
	position: absolute;
	margin-top: 7.142857143vh;
	height: 85.714285714vh;
	width: 0.3%;
	right: 50%;
	background-color: #FF7F00;
}
.row {
	height: 30.102564103vh;
}
.user {
	padding-top: 9.58974359vh;
	height: 7.692307692vh;
	text-align: center;
}
.user p {
	padding: 0px;
	margin: 0px;
}
.avatar {
	display: inline-block;
	height: 7.692307692vh;
	width: 7.692307692vh;
	background: url('/img/avatar.png');
	background-size: contain;
	border-radius: 50%;
}
.bio {
	position: relative;
	top: -1vh;
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
	height: 7.692307692vh;
}
.social {
	font-size: 3.230769231vh;
	text-align: center;
}
.bio .position,
.bio .phone {
	font-size: 0.7em;
	opacity: 0.7;
}
